* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    gap: 10px;
}

textarea {
    width: 100%;
    resize: none;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
}

button:hover{
    cursor: pointer;
}

input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid grey;
}

.button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
}

/* form page */

.form-page {
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    padding: 20px; /* optional padding on small screens */
}

.my-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    width: 100%; /* fills container up to max-width */
    gap: 20px;
    padding: 30px; /* make it look nicer */
    border-radius: 10px; /* optional rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* optional shadow */
}

.register-image {
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: auto;
    object-fit: cover;
}

/* complete page */

.complete-page {
    height: 100vh;
    max-width: 600px;
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.my-app {
    padding: 30px;
    height: 100vh;
}

.my-app-container {
    border-radius: 8px;
    display: flex;
    height: 100%;
    border: 1px solid grey;
}

/* sidebar */

.sidebar {
    border-right: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 20px 5px;
}

.top-sidebar-nav {
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.inner-sidebar {
    height: 85vh;
    justify-content: space-between;
}

.login-div {
    margin-bottom: 30px;
}

/* main block */

.main-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* chatpage */

.chat-page {
    height: 100%;
}

.chat-container {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.chat-container-header {
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.chat-container-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: whitesmoke;
}

.chat-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.single-message {
    margin: 15px 0;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 15px 5px 15px;
    max-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.reciever {
    align-self: flex-start;
}

.message-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.message-input, input {
    width: 100%;
}


.message-time {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 0;
    font-size: 14px;
    min-width: 120px;
}

/* profile page */

.profile-page {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.profile-page-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* utilities */

.chats-link {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats-link:hover {
    cursor: pointer;
}

.desktop-sidebar {
    display: none;
}

.bottom-nav {
    height: 100px;
}

.link {
    color: #1E90FF;
    text-decoration: none;
}

.error {
    color: red;
}

.icons img {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (min-width: 700px) {

    .single-message {
        max-width: 350px;
    }

    .sidebar {
        width: 400px;
    }

    .mobile {
        display: none;
    }

    .desktop-sidebar {
        display: block;
        width: 100%;
    }

    .desktop {
        display: block;
    }

    .sidebar {
        height: 100%;
        min-width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 20px 0;
    }

    .top-sidebar-nav {
        justify-content: space-between;
        border-bottom: 1px solid grey;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
    }

    .inner-sidebar {
        width: 100%;
        max-height: 85vh;
        justify-content: flex-start;
    }

    .login-div {
        margin-bottom: 30px;
    }
}