* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    gap: 10px;
}

textarea {
    width: 100%;
    resize: none;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
}

button:hover{
    cursor: pointer;
}

input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid grey;
}

.background {
    background-image: url('/chat-background.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

.button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
}

/* form page */

.form-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.my-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    width: 100%;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    background-color: white;
}

.register-image {
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: auto;
    object-fit: cover;
}

/* complete page */

.complete-page {
    height: 100vh;
    max-width: 600px;
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.my-app {
    padding: 10px;
    height: 100vh;
    background-image: url('/app-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.my-app-container {
    padding: 2px;
    border-radius: 8px;
    display: flex;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    min-width: 60px;
    padding: 0 5px 20px 5px;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    margin-right:1px;
}

.inner-sidebar {
    height: 85vh;
    justify-content: space-between;
}

.top-sidebar-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-div {
    margin-bottom: 30px;
}

/* main block */

.main-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* chatpage */

.chat-page {
    height: 100%;
}

.chat-container {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.chat-container-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 12px 30px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-container-header a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.message-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 20px 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.message-input, input {
    width: 100%;
}

.single-message {
    margin: 15px 0;
    border-radius: 6px;
    padding: 5px 15px 5px 15px;
    max-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.reciever {
    align-self: flex-start;
    background-color: white;
}

.message-time {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 0;
    font-size: 14px;
    min-width: 120px;
}

/* profile page */

.profile-page {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.profile-page-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* utilities */

.chats-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
}

.chats-link:hover {
    background-color: rgb(229, 228, 228);
    transition: background-color 0.5s ease;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats-link:hover {
    cursor: pointer;
}

.desktop-sidebar {
    display: none;
}

.bottom-nav {
    height: 100px;
}

.link {
    color: #1E90FF;
    text-decoration: none;
}

.error {
    color: red;
}

.icons img {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (min-width: 700px) {

    .my-app {
        padding: 60px 120px;
    }

    .single-message {
        max-width: 350px;
    }

    .sidebar {
        width: 300px;
    }

    .mobile {
        display: none;
    }

    .desktop-sidebar {
        display: block;
        width: 100%;
    }

    .desktop {
        display: block;
    }

    .sidebar {
        padding: 0 0 20px 0;
    }

    .inner-sidebar {
        width: 100%;
        max-height: 85vh;
        justify-content: flex-start;
    }

    .top-sidebar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px 15px;
        margin:0;
        background-color: rgb(245, 245, 245);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .login-div {
        margin-bottom: 30px;
    }
}