* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-app {
    display: flex;
}

.sidebar {
    height: 100vh;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width:40px;
    height:40px;
    border-radius: 50%;
}